
.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 630px;
    width: 1200px;
    
    float: left;

    
}

.panel {
    height: 253px;
    width: 1000px;
    margin-left: 120px;
    padding: 0px;
 
}
.logo {
    margin:auto;
    width: 351px;
    height: 100px;   
}

.content {
    height: 138px;
    background-color: red;
    
}

.search {
    background-color:#EEEEEE;
    height: 62px;
    width: 1000px;
    margin: auto;
   
    
}

ul.list_search{
     text-align: center;
     padding: 0px;

}

ul.list_search li{
     padding: 0px;

}

.special_search {
    height: 76px;
    width: 1000px;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: white;

 
}


ul.list_first li {
    padding: 0px;
    text-align: center;
   
}

ul.list_second li {
    padding: 0px;
    text-align: center;
   
}
ul.list_third li {
    padding: 0px;
    text-align: center;
   
}

ul {
    list-style-type: none;
    
}

.first {
    float: left;
    width:36.6%;
    height: 76px;
    font-size: 12px;
    border-style: solid;
    border-right-width: 2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: white;
    background-color: #7EE5DA;
   
} 

.first ul {
   padding-left: 9px;  
}

.second {
    float: left;
    width:18%;
    height: 76px;
    font-size: 12px;
    border-style: solid;
    border-right-width: 2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: white;
    background-color: #70CCC2;
}

.second ul{
    margin: auto;
    padding: 5px;
 
}
.third {
    float: left;
    width:45%;
    height: 76px;
    font-size: 12px;
    background-color: #62B3AA;
}

.third ul {
    margin: auto;
 
}

.footer {
        width: 853.69px;
        height: 15px;

}

.footer li {
    text-align: center;
    font-size: 10px;
    padding-right: 25px;
    
}